<app-layout>
  <app-sidenav [open]="showSidenav$ | async">
    <!-- showSidenav$ | async -->
    <app-nav-item (navigate)="closeSidenav(1)" *ngIf="userIsLogged" routerLink="/flights" icon="book" hint="View your book collection">
      FLighLegs
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav(2)" *ngIf="userIsLogged" routerLink="/turnarounds/list" icon="search" hint="Find your next book!">
      Turnarounds
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav(3)" *ngIf="userIsLogged" routerLink="/turnarounds/1" icon="search" hint="Find your next book!">
      First Turnaround
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav(4)" *ngIf="userIsLogged" routerLink="/users/users" icon="search" hint="Find your next book!">
      Users
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav(5)" *ngIf="!(userIsLogged)">
      Sign In
    </app-nav-item>
    <app-nav-item (navigate)="logout()" *ngIf="userIsLogged">
      Sign Out
    </app-nav-item>
  </app-sidenav>
  <app-toolbar (openMenu)="openSidenav()">
    My App Designed with Modules and Redux
  </app-toolbar>

  <router-outlet></router-outlet>
</app-layout>
