<my-layout>
  <my-sidenav [open]="showSidenav$ | async">
    <!-- showSidenav$ | async -->
    <my-nav-item (navigate)="closeSidenav(1)" *ngIf="userIsLogged" routerLink="/flights" icon="book" hint="View your book collection">
      FLighLegs
    </my-nav-item>
    <my-nav-item (navigate)="closeSidenav(2)" *ngIf="userIsLogged" routerLink="/turnarounds/list" icon="search" hint="Find your next book!">
      Turnarounds
    </my-nav-item>
    <my-nav-item (navigate)="closeSidenav(3)" *ngIf="userIsLogged" routerLink="/turnarounds/1" icon="search" hint="Find your next book!">
      First Turnaround
    </my-nav-item>
    <my-nav-item (navigate)="closeSidenav(4)" *ngIf="userIsLogged" routerLink="/users/users" icon="search" hint="Find your next book!">
      Users
    </my-nav-item>
    <my-nav-item (navigate)="closeSidenav(5)" *ngIf="!(userIsLogged)">
      Sign In
    </my-nav-item>
    <my-nav-item (navigate)="logout()" *ngIf="userIsLogged">
      Sign Out
    </my-nav-item>
  </my-sidenav>
  <my-toolbar (openMenu)="openSidenav()">
    My App Designed with Modules and Redux
  </my-toolbar>

  <router-outlet></router-outlet>
</my-layout>
